/* 
Auteur:       Jason van Hamond
Aanmaakdatum: 14-12-2020 11:40

Omschrijving: de algemene CSS bestand van de portfolio website van Jason van Hamond
*/

:root {
    --HeaderColour: #181818;
    --BodyColour: rgb(99, 93, 99);
    --SectionColour: rgb(42, 42, 42);
    --TextColour: rgb(165, 255, 107);
    --TitleColour: rgb(212, 13, 219);
    --NavBackground: #0f0f0f;
    --AHoverBackground: black;
}

/* font-family toevoegen */
@font-face
{
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
    font-family: "Quicksand"
}

/* animation test */
.content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000; 
}
   
::-webkit-scrollbar-thumb {
    background: rgba(1, 50, 5, 1); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 100, 10); ; 
}

/* aanpassingen body */
body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--BodyColour);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(30,111,13,1) 100%);
}

/* gezamelijke aanpassingen */
article, footer, img, a, button
{
    background-color: var(--SectionColour);
    background: radial-gradient(circle, rgba(42,42,42,1) 45%, rgba(50,50,50,1) 100%);
}

article a, article button
{
    background: none!important;
}

article:last-of-type 
{
    margin-bottom: 70px;
}

header, nav, footer
{
    font-family: "Quicksand";
}

#secondMenu
{
    margin: 0;
    display: flex;
    background-color: #2c2c2c;

}

#secondMenu li
{
    list-style-type: none;
}

/* aanpassingen tekst elementen */
h1
{
    font-size: 33px;
}

h2
{
    font-size: 28px;
}

h3
{
    font-size: 24px;
}

p, ul, ol, a, figcaption
{
    font-size: 20px;
    color: var(--TextColour);
}

h1, h2, h3, h4, h5, h6, a
{
    color: var(--TitleColour);
}

/* aanpassingen header */
header
{
    padding: 5px 0px;
    background-color: var(--HeaderColour);
}

#pageName
{
    position: relative;
    display: inline-block;
    left: 2%;
    text-align: center;
}

#navItem
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

ul li a 
{
    display: block;
}

nav 
{
    width: 100%;
    display: block;
    background-color: var(--NavBackground);
    z-index: 999;
}

a
{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

a:hover
{
    background-color: var(--AHoverBackground);
}

#hidden
{
    display: none;
}

/* aanpassingen in de main */
article
{
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

main
{
    font-family: "Arial";
}

table, td
{
    border: 5px solid rgb(99, 93, 99);
    background-color: rgb(42, 42, 42);
    color: rgb(165, 255, 107);
    border-collapse:collapse;
}

article > h1, article > h2, article > h3
{
    text-align: center;
}

/*aanpassingen footer */
footer
{
    color: rgb(94, 219, 13);
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: rgb(99, 93, 99) solid 1px;
}

footer p
{
    float: right;
    margin-right: 10px;
} 

/* Sticky menu */
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%; 
}
  
.sticky + main 
{
    margin-top: 50px; 
}

/* het maken van een dropdown menu en de veranderingen voor een kleiner scherm. */
@media screen and (max-width:1500px)
{
    #nav ul li, #nav ul li a
    {
        height: 27%;
    }
    #pageName
    {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    
    #home, #studies, #jobs, #hobby, #cv, #contact
    {
        display: none;
    }
    
    #hidden
    {
        display:flex;
        flex-direction: column;
        width: 100vw;
    }
    
    #dropdown
    {
        width: 95vw;
        margin-left: 0;
        margin-right: 0;
    }
    
    .hide
    {
        width: 100vw;
/* deze positioning heb ik hier gedaan, omdat het anders niet wilde werken */
        position:relative;
        z-index: 4;
        border-radius: 0px;
        margin:0;
    }
    
    nav li
    {
        display: inline-block;
        list-style-type: none;
        position: relative;
    }

    nav li ul
    {
        display: none;
        margin: 0;
        padding: 0;
    }
    
    nav li:hover > ul 
    {
        display: block;
    }

    nav a 
    {
        padding: 5px 10px;
        text-align: center;
        height: 20px;
        display: block;
    }
    
    #navItem
    {
        left: 0px;
        padding:0;
    }
    
    footer, header
    {
       width: 100vw;
    }
}

@media screen and (max-width: 1000px) 
{
    #secondMenu 
    {
        flex-direction: column;
        padding: 0;
    }
    #secondMenu li 
    {
        text-align: center;
    }
}

/* veranderingen voor telefoon */
@media screen and (orientation:portrait)
{
    .hide
    {
        height: 40px;
        margin: 0;
    }

    
}